* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 0;
    display: flex;
    max-width: 500vw;
    justify-content: space-between;

}

nav{
    display: flex;
    align-items: center;
    width: 85%;
    padding: 5px 20lvw 5px 5px;
    background-color: #dddddd;
    border-radius: 10px;
}

.logo{
    width: 20dvw;
}

.menu {
    list-style: none;
    display: flex;

}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: #fafafa;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5dvw;
}
.menu li a:hover{
    background: rgb(221, 137, 137);
}

.botao-entrar {
    background-color: rgb(212, 0, 0);
    color: white;
    padding: 20px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;

}
body{
    background-color: #fafafa;
}
footer{
    background-color: #dddddd;
    border-radius: 10px;
    height: 10em;
    display: flex;
    justify-content: space-between;
    
     
}
footer ul li img{
    width: 100px;
}
footer ul{
    margin-top: 2em;
    
}
li{
    list-style-type: none
}