* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da tela */
}

header {
    padding: 5px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    width: 85%;
    padding: 5px 20vw 5px 5px;
    background-color: #dddddd;
    border-radius: 10px;
}

.logo {
    width: 15dvw;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: #fafafa;
    border-radius: 8px;
    padding: 1vw;
    margin-left: 5dvw;
}

.menu li a:hover {
    background: rgb(221, 137, 137);
}

.botao-entrar {
    background-color: rgb(212, 0, 0);
    color: white;
    padding: 1% 1%;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
}


.b_principal img {
    width: 100%;
    border-radius: 15px;
}

.comidas_i {
    margin: 2em;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    display: flex;
}

.top3 {
    background-color: #dddddd;
    padding: 1em;
    width: 15em;
    border-radius: 20px;
    padding-inline: 10px;
}

.top3 img {
    width: 14em;
    border-radius: 20px;
}

.top3 {
    background-color: #dddddd;
    padding: 1em;
    width: 15em;
    border-radius: 20px;
    padding-inline: 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 1em; /* Espaçamento entre os itens */
}

.top3 .descricao {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.top3 .descricao.ativo {
    opacity: 1;
    max-height: 200px; 
}

h2 {
    margin-top: 1em;
    font-size: 2em;
}

footer {
    background-color: #dddddd;
    border-radius: 10px;
    padding: 20px; /* Adiciona um espaçamento interno */
    margin-top: auto; /* Empurra o footer para o final da página */
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

footer ul li img {
    width: 100px;
}

footer ul {
    margin: 2em;
}

li {
    list-style-type: none;
}

.login {
    width: 40em;
    min-height: 20em;
    padding: 5em;
    box-sizing: border-box;
    border-radius: 0.5em;
    background-color: #dddddd;
    margin: 5%;
}

input[type="text"] {
    padding: 10px;
    width: 28em;
    border-radius: 7px;
    border: solid, 1px;
}

input[type="submit"] {
    padding: 12px;
    width: 8em;
}
input[type="submit"]:hover {
    background: rgb(221, 137, 137);
}

input {
    border-radius: 7px;
    border: solid, 1px;
    background-color: #fafafa;
    font-size: 1em;
    margin-bottom: 2em;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1em;
}
.comidas{
    
}