* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 5px ;
    display: flex;
    max-width: 300vw;
    justify-content: space-between;

}

nav{
    display: flex;
    align-items: center;
    width: 85%;
    padding: 5px 20vw 5px 5px;
    background-color: #dddddd;
    border-radius: 10px;
}

.logo{
    width: 20dvw;
}

.menu {
    list-style: none;
    display: flex;

}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: #fafafa;
    border-radius: 8px;
    padding: 1vw;
    margin-left: 5dvw;
}
.menu li a:hover{
    background: rgb(221, 137, 137);
}

.botao-entrar {
    background-color: rgb(212, 0, 0);
    color: white;
    padding: 1vw 1vw;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;

}
body{
    background-color: #fafafa;
}
footer{
    background-color: #dddddd;
    border-radius: 10px;
    height: 10em;
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
}
footer ul li img{
    width: 100px;
}
footer ul{
    margin: 2em;
    
}
li{
    list-style-type: none
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

main{
    height: 85vh;
    justify-content: center; 
    align-items: center; 
    
}
.b_principal img{
    width: 99vw;
    border-radius: 15px;
}
.top3 img{
    width: 14em;
    border-radius: 20px;
}
.comidas_i{
    
    margin: 2em;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    display: flex;
}
.top3{
    background-color: #dddddd;
    padding: 1em;
    width: 15em;
    border-radius: 20px;
    padding-inline: 10px;
    
}
h2{
    margin-top: 1em;
    font-size: 2em;
}
>>>>>>> c85264de677463f453522a7bce18dc1723ff8df2
.login{
    width: 40em;
    min-height: 20em;
    padding: 5em;
    box-sizing: border-box; 
    border-radius: 0.5em;
    background-color: #dddddd;
}
input[type="text"]{
    padding: 10px;
    width: 28em;
    border-radius: 7px;
    border: solid, 1px;
}
input[type="submit"]{
    padding: 12px;
    width: 8em;
}
input{
    border-radius: 7px;
    border: solid, 1px;
    background-color: #fafafa;
    font-size: 1em;
}
input{
    margin-bottom: 2em;
}
.form{
    display: flex;
<<<<<<< HEAD
    justify-content: center; 
    align-items: center; 
}
>>>>>>> 5797f72a745c5a7207ed8b0fc2f59ad28cc20039
=======
}
label{
    font-size: 1em;
}
>>>>>>> c85264de677463f453522a7bce18dc1723ff8df2
